body {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  font-size: 18px;
  line-height: 1.4;
  background: #e5e6e8;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: $text-color;
}

.unstyled-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
