$tooltip-width: 180px !default;

.tooltip {
  position: relative;
  display: inline-block;

  .tooltip-content {
    visibility: hidden;
    width: $tooltip-width;
    background-color: #333;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -1 * ($tooltip-width / 2);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }

  &:hover .tooltip-content,
  &:active .tooltip-content {
    visibility: visible;
    opacity: 1;
  }
}