@import '../styles/utils';
// http://www.jsnrynlds.com/

h1 {
  font-size: 1.6em;
}

.image-container {
  width: 200px;
  padding-bottom: 200px;
  border-radius: 50%;
  background-size: contain;
  
  -webkit-box-flex: 0;
}

.profile {
  height: 100vh;
  @extend .clearfix;

  &__header {
    position: fixed;
    float: left;
    width: 60%;
    height: 100%;
    background: #e5e6e8;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    float: right;
    width: 40%;
    height: 100%;
    padding: 100px 50px;
    color: #666;
    
    .name {
      font-size: 20px;
      line-height: 1.2;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      color: #2d2d2d;
    }

    .username {
      position: relative;
      top: -10px;
    }
  }
}

.meta-sections {
  margin-bottom: 20px;
  @extend .clearfix;

  .meta-section {
    float: left;
    width: 40%;
    margin-right: 10%;
    font-size: 12px;

    &__header {
      font-weight: 700;
      text-transform: uppercase;
    }

    &__text {

    }
  }
}

.icons {
  margin-bottom: 20px;
  @extend .clearfix;

  .icon {
    float: left;
    margin: 0 10px 10px 0;
  }
}