<div class="profile">
  <div class="profile__header">
    <div class="image-container circle" [style.background-image]="'url(' + user?.avatarUrl + ')'"></div>
  </div>
  <div class="profile__content">
    <div class="content">

      <section>
        <h1 class="name">{{ user?.name }}</h1>
        <div *ngIf="user?.username" class="username">@{{ user?.username }}</div>
      </section>

      <section *ngIf="user?.bio">
        <div>{{ user?.bio }}</div>
      </section>

      <section *ngIf="user?.location || user?.company">
        <ul class="unstyled-list meta-sections">
          <li class="meta-section" *ngIf="user?.location">
            <div class="meta-section__header">Location</div>
            <div class="meta-section__text">{{ user?.location }}</div>
          </li>
          <li class="meta-section" *ngIf="user?.company">
            <div class="meta-section__header">Company</div>
            <div class="meta-section__text">{{ user?.company }}</div>
          </li>
        </ul>
      </section>

      <section *ngIf="user?.socialIcons.length > 0">
        <ul class="unstyled-list icons">
          <li class="icon tooltip" *ngFor="let icon of user.socialIcons">
            <a href="{{ icon.link || 'javascript:void(0);' }}">
              <i class="fa fa-lg {{ icon.type | socialIcon }}" aria-hidden="true"></i>
            </a>
            <span *ngIf="icon.text" class="tooltip-content">{{ icon.text }}</span>
          </li>
        </ul>
      </section>

    </div>
  </div>
</div>